/* Credits Page */



/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic (CALLED IN ANOTHER FILE)
	- Normalize
	- Box sizing
	- Media width
# Base
	- Typography
	- Elements
	- Links
# Layouts
# Components
	- Header
	- Main
	- Footer
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/

/* Typography
--------------------------------------------- */
body {
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: rgb(37, 36, 36);
    line-height: 1.4rem;
}


header h1 {
    font-size: 3.3rem;
    color: white;
    text-align: center;
    margin-top: 14rem;
    line-height: 3.3rem;
}

h1 {
    text-align: center;
}

h1 div {
    font-size: 2.5rem;
}



h2 {
    display: flex;
    justify-content: center;
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: clamp(1.5rem, 1.5vw, 3rem);
}


.center-text h1 {
    font-family: 'Kanit', sans-serif;
}


/* Elements
--------------------------------------------- */



ul {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 1.4rem;
    padding-top: 0.3rem;
}

li {
    list-style-type: none;
    color: white;
}





table {
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
    letter-spacing: 1px;
    font-size: 0.8rem;
}

td,
th {
    border: 1px solid rgb(190, 190, 190);
    padding: 10px 20px;
}

th {
    background-color: rgba(175, 27, 63, 0.68);
}

td {
    text-align: center;
}

svg {
    height: 2.4rem;
    width: 100%;
    margin-top: 1rem;
}

/* Links
--------------------------------------------- */

a {
    text-decoration: none;
    color: white;
}


/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/



/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/

/* Header
--------------------------------------------- */

nav {
    background-color: rgba(175, 27, 63, 0.78);
}

header {
    min-height: 60vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -100;
}

.center-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(175, 27, 63, 0.68);
}

.center-text p {
    color: white;
}

.header-history {
    background-image: url(../media/imgs/Sweden-early-middle-ages.webp);
}

.header-home {
    min-height: 37vh;
}


.header-cities {
    background-image: url(../media/imgs/Northern-Lights.webp);
}

.header-food {
    background-image: url(../media/imgs/AdobeStock_516915346.webp);
}

.header-credits {
    background-image: url(../media/imgs/hourglass.webp);
    background-position: center right;
}



/* Main
--------------------------------------------- */

article p {
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: clamp(1rem, 2.5vw, 1.2rem);
}

.sweden-info-history {
    margin-right: 1rem;
    margin-left: 1rem;
}

.article-history {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

@media(min-width: 64em) {
    .article-history {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .article-history img {
        grid-column: span 2;
    }

    .sweden-info-history {
        margin-left: 2rem;
        margin-right: 2rem;
    }
}








.cities-grid {
    margin-top: 1.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.cities-grid img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    margin-top: 1rem;
    margin-bottom: 3rem;
    border-radius: 5px;
}


@media (min-width: 56.25em) {
    .cities-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 1.5rem;
    }

    .cities-grid img:nth-child(3),
    .cities-grid img:nth-child(4),
    .cities-grid img:nth-child(5) {
        grid-column: span 2;
    }

    .cities-grid img:nth-child(6) {
        grid-column: span 4;
    }

    footer {
        margin-top: 4rem;
    }

}





.display-food-items {
    margin-left: 1.2rem;
    margin-right: 1.2rem;
}



.article-food {
    background-color: rgb(50, 50, 51);
    padding-top: 0.7rem;
    padding-bottom: 1rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

@media (min-width:64em) {

    .display-food-items {
        margin-left: 2rem;
        margin-right: 2rem;
    }


    .article-food img {
        width: 50%;
    }


    .food-text-content {
        width: 50%;
    }


    .article-food {
        display: flex;
        padding: 0;
    }


    .article-food:nth-of-type(2) {
        flex-direction: row-reverse;
    }
}

.section-references {
    display: flex;
    justify-content: center;
}

@media (min-width:32em) {
    .section-references {
        margin: 2rem;
    }
}



/* Footer
--------------------------------------------- */

footer {
    background-color: rgba(175, 27, 63, 0.68);
    padding-top: 1rem;
}


footer p {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 0;
    padding-bottom: 1rem;
}



.footer-home {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(175, 27, 63, 0.68);
}