body {
    background-color: #f3f3f3;
}


.game-board {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
}

.grid-cell {
    width: 20px;
    height: 20px;
    border-style: solid;
    border-width: 0.5px;
    border-color: #395e66;
    box-sizing: border-box;
}


.gameboard-container {
    width: 500px;
    display: flex;
    justify-content: space-between;
}

.shipContainer {
    height: 60px;
    background-color: #395e66;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
}

.destroyer-dragstate {
    --width: 2;
    width: 20px;
    height: 10px;
    margin: 3px;
}


.submarine-dragstate {
    width: 30px;
    height: 10px;
    margin: 3px;
}


.heavy-cruiser-dragstate {
    width: 40px;
    height: 10px;
    margin: 3px;
}

.battleship-dragstate {
    width: 50px;
    height: 10px;
    margin: 3px;
}

.aircraft-carrier-dragstate {
    width: 60px;
    height: 10px;
    margin: 3px;
}

.hover {
    background-color: grey;
}

/* 

#computer .submarine,
#computer .aircraft-carrier,
#computer .destroyer,
#computer .heavy-cruiser,
#computer .battleship {
    background-color: pink;
} */

#computer .boom {
    background-color: red;
}

#computer .empty {
    background-color: aliceblue;
}

.boom {
    background-color: red;
}

.empty {
    background-color: aliceblue;
}


.splash-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

a {
    text-decoration: none;
}

.gameboard-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.game-board {
    margin: 2vmin;
    display: grid;
}


.taken,
.ship {
    background-color: hsl(0, 0%, 80%);
}

.ship {
    width: calc(4.6vmin * var (--width, 1));
    height: calc(4.6vmin * var (--width, 1));
    border-radius: 2.3vmin;
}

.taken.vertical {}