* {
    margin: 0 auto;
}


body {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    background-color: lightslategray;
    padding: 0vh 7vw;
    padding-bottom: 4vh;

}

.title {
    display: flex;
    justify-content: center;
}


ul {
    list-style: none;
    font-size: 18px;
    color: lightgreen;
    gap: 40px;
    display: flex;
    padding: 0;
    margin-top: 3vh;
}

section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 31.25rem;
}


blockquote {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 31.25rem;
}

article {
    display: flex;
    flex-direction: column;
    align-self: center;
    max-width: 40vw;
    background-color: yellowgreen;
    padding: 30px 30px;
    margin: 0;
    margin-top: 20px;
}

h1 {
    display: flex;
    margin-left: 470px;
    margin-top: 2vh;
}

h2 {
    margin: 0;
    margin-top: 3vh;
}

a {
    text-decoration: none;
    color: white;
    background-color: green;
    margin-top: 5vh;
    padding: 2vh 3vw;
}

img {
    margin-top: 3vh;
    border-radius: 50%;
}

footer {
    margin-top: 2vh;
    background-color: gray;
    padding: 2vh 12vw;
    max-width: 31.25rem;
}


a:visited {
    color: lightgreen;
}

a:hover {
    color: turquoise;
}

li:hover {
    outline: solid 1px yellow;
}

a:active {
    color: white;
    background-color: #1d2951;
}

article h2 {
    border-bottom: solid 3px black;
}

blockquote h2 {
    display: flex;
    justify-content: center;
}